- @no_container = true
- @hide_top_links = true

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, dashboard_projects_url(rss_url_options), title: "所有活动")

= content_for :above_breadcrumbs_content do
  = render_if_exists "shared/gold_trial_callout"

- page_title    "项目"
- header_title  "项目", dashboard_projects_path

%div{ class: container_class }
  = render "projects/last_push"
  - if show_projects?(@projects, params)
    = render 'dashboard/projects_head'
    = render 'nav'
    = render 'projects'
  - else
    = render "zero_authorized_projects"
