.top-area
  %ul.nav-links.mobile-separator.nav.nav-tabs
    = nav_link(page: dashboard_groups_path) do
      = link_to dashboard_groups_path, title: _("Your groups") do
        您的群组
    = nav_link(page: explore_groups_path) do
      = link_to explore_groups_path, title: _("Explore public groups") do
        浏览公开群组
  .nav-controls
    = render 'shared/groups/search_form'
    = render 'shared/groups/dropdown'
    - if current_user.can_create_group?
      = link_to _("New group"), new_group_path, class: "btn btn-success"
