- page_title "新建分支"
- default_ref = params[:ref] || @project.default_branch

- if @error
  .alert.alert-danger
    %button.close{ type: "button", "data-dismiss" => "alert" } &times;
    = @error
%h3.page-title
  新建分支
%hr

= form_tag namespace_project_branches_path, method: :post, id: "new-branch-form", class: "js-create-branch-form js-requires-input" do
  .form-group.row
    = label_tag :branch_name, '分支名称', class: 'col-form-label col-sm-2'
    .col-sm-10
      = text_field_tag :branch_name, params[:branch_name], required: true, autofocus: true, class: 'form-control js-branch-name'
      .form-text.text-muted.text-danger.js-branch-name-error
  .form-group.row
    = label_tag :ref, '创建自', class: 'col-form-label col-sm-2'
    .col-sm-10.create-from
      .dropdown
        = hidden_field_tag :ref, default_ref
        = button_tag type: 'button', title: default_ref, class: 'dropdown-menu-toggle wide js-branch-select git-revision-dropdown-toggle', required: true, data: { toggle: 'dropdown', selected: default_ref, field_name: 'ref' } do
          .text-left.dropdown-toggle-text= default_ref
          = icon('chevron-down')
        = render 'shared/ref_dropdown', dropdown_class: 'wide'
      .form-text.text-muted 已存在的分支名、标签或提交 SHA
  .form-actions
    = button_tag '创建分支', class: 'btn btn-success', tabindex: 3
    = link_to '取消', project_branches_path(@project), class: 'btn btn-cancel'
-# haml-lint:disable InlineJavaScript
%script#availableRefs{ type: "application/json" }= @project.repository.ref_names.to_json.html_safe
