%h3
  = _('Shared Runners')

.bs-callout.shared-runners-description
  - if Gitlab::CurrentSettings.shared_runners_text.present?
    = markdown_field(Gitlab::CurrentSettings.current_application_settings, :shared_runners_text)
  - else
    共享的 runners 会在同样的 runner 上执行不同项目的代码，除非配置好带有 MaxBuilds 1 的 GitLab Runner Autoscale (已在 GitLab.com 上启用)。
  %hr
  在本项目&nbsp;
  - if @project.shared_runners_enabled?
    = link_to toggle_shared_runners_project_runners_path(@project), class: 'btn btn-close', method: :post do
      禁用共享的 Runner
  - else
    = link_to toggle_shared_runners_project_runners_path(@project), class: 'btn btn-success', method: :post do
      启用共享的 runners

- if @shared_runners_count.zero?
  = _('This GitLab instance does not provide any shared Runners yet. Instance administrators can register shared Runners in the admin area.')
- else
  %h4.underlined-title 可用的共享 Runners : #{@shared_runners_count}
  %ul.bordered-list.available-shared-runners
    = render partial: 'projects/runners/runner', collection: @shared_runners, as: :runner
